.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.info {
  font-size: 17px;
  font-weight: 600;
  width: 400px;
  padding: 20px;
  margin: 20px;
  border: 1px solid rgba(231, 124, 203, 0.76);
  border-radius: 10px;
}
