.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  border-radius: 7px;
  padding: 15px;
}

.buttonArea {
  display: flex;
  gap: 10px;
}

.deleteButton {
  background: chartreuse;
  font-weight: bold;
  color: blueviolet;
}

.completed {
  text-decoration: line-through;
}
