.wrapper {
  margin: 0 auto;
  max-width: 450px;
  padding: 15px;
  border: 1px solid black;
  border-radius: 10px;
}

.display {
  border: 1px solid white;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
  font-family: "Open Sans";
  width: 50%;
  margin: 0 auto 20px;
  font-size: 25px;
}
.controlButtons {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}
.controlButton {
  text-align: center;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  background: black;
  color: aliceblue;
  font-size: 12px;
  font-family: "Raleway";
}
.infoSection {
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
  width: 50%;
  margin: 0 auto 20px;
  background: black;
  color: rgba(16, 162, 162, 0.65);
}
