.wrapper {
  display: flex;
  gap: 10px;
  align-items: center;
  border: 2px solid black;
  padding: 15px;
}
.navlink {
  text-decoration: none;
  background: #ff1fbd;
  border-radius: 50%;
  transition: 0.3s;
  &:hover {
    background: #ff9913;
    color: black;
  }
}
